In [1]:
%reload_ext autoreload
%autoreload 2

import sys
import os
import re
import json
import datetime
import time
import pandas as pd
import numpy as np
from IPython.display import JSON

from mediascope_api.core import net as mscore
from mediascope_api.mediavortex import tasks as cwt
from mediascope_api.mediavortex import catalogs as cwc

# Включаем отображение всех колонок
pd.set_option('display.max_columns', None)

# Cоздаем объекты для работы с TVI API
mnet = mscore.MediascopeApiNetwork()
mtask = cwt.MediaVortexTask()
cats = cwc.MediaVortexCats()

Запрошены записи: 0 - 314
Всего найдено записей: 314

Запрошены записи: 0 - 314
Всего найдено записей: 314

In [2]:
# Включаем отображение всех колонок
pd.set_option('display.max_columns', None)

# Задаем ширину столбцов по контенту
pd.set_option('display.max_colwidth', None)

pd.set_option('display.max_rows', None)

In [4]:
# Проверим ИД бренда ВТБ
# test = cats.get_tv_grp_type() #баинговые аудитории
# test = cats.get_tv_ad_position()
# test = cats.get_tv_ad()  #'4316312, 3882515'
demo_cats = cats.get_tv_demo_attribute()
demo_cats.head()

Запрошены записи: 0 - 314
Всего найдено записей: 314

   id     name entityName  valueId valueName
0   1      Пол        sex        1   Мужчины
1   1      Пол        sex        2   Женщины
2   2  Возраст        age        4         4
3   2  Возраст        age        5         5
4   2  Возраст        age        6         6

In [10]:
import os
file_path = r'C:\Users\o.bogomolov\Downloads\Telegram'
file_name = 'demo_attribute.csv'

demo_cats.to_csv(os.path.join(file_path, file_name), encoding='cp1251')

In [3]:
# Проверим ИД бренда ВТБ
test2 = cats.get_tv_grp_type() #tv/breaks  tv/article
test2.head()

Запрошены записи: 0 - 49
Всего найдено записей: 49

    id       name      ename                    notes     expression
0  223  10-45 Cit  10-45 Cit      10-45 Панель города  AGE IN 10..45
1   23  10-45 Msk  10-45 Msk  10-45 Московская панель  AGE IN 10..45
2  123  10-45 Rus  10-45 Rus  10-45 Российская панель  AGE IN 10..45
3  212  11-34 Cit  11-34 Cit      11-34 Панель города  AGE IN 11..34
4   12  11-34 Msk  11-34 Msk  11-34 Московская панель  AGE IN 11..34

In [12]:
import os
file_path = r'C:\Users\o.bogomolov\Downloads\Telegram'
file_name = 'tv_grp_type.csv'

test2.to_csv(os.path.join(file_path, file_name), encoding='cp1251')

In [12]:
demo_cats[demo_cats['entityName']=='incomeGroupRussia']

     id                     name         entityName  valueId valueName
159   9  Группа дохода по России  incomeGroupRussia        1         A
160   9  Группа дохода по России  incomeGroupRussia        2         B
161   9  Группа дохода по России  incomeGroupRussia        3         C
162   9  Группа дохода по России  incomeGroupRussia        4       N/a

In [54]:
# Article LEVEL
article_cats = cats.get_tv_article()

search_lst = ['СУПЕРМАРКЕТЫ', 'ИНТЕРНЕТ-СУПЕРМАРКЕТЫ', 'ДОСТАВКА ГОТОВОЙ ЕДЫ', 'ИНТЕРНЕТ-АГРЕГАТОРЫ ДОСТАВКИ ЕДЫ']
search_lst = [i.upper() for i in search_lst]

search_filter = list(article_cats.query('name in @search_lst')['id'])
search_filter = ', '.join(str(i) for i in search_filter)

print(search_filter)

Запрошены записи: 0 - 2033
Всего найдено записей: 2033

2408, 4780, 4926, 5028

In [53]:
article_cats.query('name in @search_lst')

,id,name,ename,level,parentId,notes
1130,2408,ДОСТАВКА ГОТОВОЙ ЕДЫ,READY-TO-EAT FOOD DELIVERY,4,2321,"Доставка пиццы, готовых блюд и наборов для готовки, сервсис доставки еды из ресторанов"
1784,4780,СУПЕРМАРКЕТЫ,SUPERMARKETS,4,2583,"продуктовые магазины, гипермаркеты, супермаркеты, основной ассортимент которых продуктовый; кулинарии, хлебные и бакалейные магазины, кондитерские, овощные и пр.; специализированные магазины чая и кофе, магазины продуктов пчеловодства, даров природы"
1920,4926,ИНТЕРНЕТ-СУПЕРМАРКЕТЫ,INTERNET SUPERMARKETS,4,4892,"интернет-магазины, основной ассортимент которых продуктовый; кондитерские интернет-магазины.; специализированные интернет-магазины чая и кофе, продуктов пчеловодства, в т.ч. доставка продуктов из них"
2007,5028,ИНТЕРНЕТ-АГРЕГАТОРЫ ДОСТАВКИ ЕДЫ,INTERNET FOOD DELIVERY AGGREGATORS,4,2321,

In [49]:
# Article LIST 4
article_list4 = cats.get_tv_article_list4()

search_lst = ['СУПЕРМАРКЕТЫ', 'ИНТЕРНЕТ-СУПЕРМАРКЕТЫ', 'ДОСТАВКА ГОТОВОЙ ЕДЫ', 'ИНТЕРНЕТ-АГРЕГАТОРЫ ДОСТАВКИ ЕДЫ']
search_lst = [i.upper() for i in search_lst]

search_filter = list(article_list4.query('name in @search_lst')['id'])
search_filter = ', '.join(str(i) for i in search_filter)

print(search_filter)

Запрошены записи: 0 - 10774
Всего найдено записей: 10774

190, 659, 26922, 47130

,id,name,ename,level,parentId,notes
1130,2408,ДОСТАВКА ГОТОВОЙ ЕДЫ,READY-TO-EAT FOOD DELIVERY,4,2321,"Доставка пиццы, готовых блюд и наборов для готовки, сервсис доставки еды из ресторанов"
1784,4780,СУПЕРМАРКЕТЫ,SUPERMARKETS,4,2583,"продуктовые магазины, гипермаркеты, супермаркеты, основной ассортимент которых продуктовый; кулинарии, хлебные и бакалейные магазины, кондитерские, овощные и пр.; специализированные магазины чая и кофе, магазины продуктов пчеловодства, даров природы"
1920,4926,ИНТЕРНЕТ-СУПЕРМАРКЕТЫ,INTERNET SUPERMARKETS,4,4892,"интернет-магазины, основной ассортимент которых продуктовый; кондитерские интернет-магазины.; специализированные интернет-магазины чая и кофе, продуктов пчеловодства, в т.ч. доставка продуктов из них"
2007,5028,ИНТЕРНЕТ-АГРЕГАТОРЫ ДОСТАВКИ ЕДЫ,INTERNET FOOD DELIVERY AGGREGATORS,4,2321,

In [4]:
subbrand_cats = cats.get_tv_subbrand()
subbrand_cats.head()

search_lst = ['Fix Price', 'МегаМаркет', 'Ozon Fresh', 'Яндекс.Маркет', 'Магнит Маркет', 'OZON', 'wildberries', 'КРАСНОЕ & БЕЛОЕ']
search_lst = [i.upper() for i in search_lst]

search_filter = list(subbrand_cats.query('name in @search_lst')['id'])
search_filter = ', '.join(str(i) for i in search_filter)

print(search_filter)

Запрошены записи: 0 - 59082
Всего найдено записей: 59082

137166, 489562, 494633, 556193, 872285, 966983, 1155675, 1245528

In [90]:
# Получить список Адвертайсер листов - через запятую будут перечислены все рекламодатели 
# имеющие отношение к рекламному роику
search_lst = ['954', '1', '4']
advertiser_list = cats.get_tv_advertiser_list(search_lst)
advertiser_list = advertiser_list.rename(columns={'id': 'advertiserListId','name': 'advertiserListName', 'ename': 'advertiserListEName'})

advertiser_list.head()

Запрошены записи: 0 - 3
Всего найдено записей: 3

   advertiserListId     advertiserListName    advertiserListEName
0                 1                    N/A                    N/A
1                 4  PANASONIC CORPORATION  PANASONIC CORPORATION
2               954                   СБЕР                   SBER

In [104]:
df = cats.get_tv_advertiser_list()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 23758
Всего найдено записей: 23758

макс ИД: 329232
Макс длина строки: 138

In [91]:
# Получить список Бренд листов - через запятую будут перечислены все Бренды 
# имеющие отношение к рекламному роику
search_lst = ['546034', '546456', '546456']
df = cats.get_tv_brand_list(search_lst)
df = df.rename(columns={'id': 'brandListId', 'name': 'brandListName', 'ename': 'brandListEName'})

df.head()

Запрошены записи: 0 - 2
Всего найдено записей: 2

   brandListId        brandListName       brandListEName
0       546034    TEFAL; МЕГАМАРКЕТ    MEGAMARKET; TEFAL
1       546456  PHILIPS; МЕГАМАРКЕТ  MEGAMARKET; PHILIPS

In [105]:
df = cats.get_tv_brand_list()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 82258
Всего найдено записей: 82258

макс ИД: 676111
Макс длина строки: 212

In [4]:
# Получить список СубБренд листов - через запятую будут перечислены все СубБренды 
# имеющие отношение к рекламному роику
search_lst = ['713209']#['585326', '585328', '586043']
df = cats.get_tv_subbrand_list(search_lst)
# df = df.rename(columns={'id': 'subbrandListId', 'name': 'subbrandListName', 'ename': 'subbrandListEName'})

df.head()

Запрошены записи: 0 - 1
Всего найдено записей: 1

       id                          name                           ename
0  713209  ВЭБ.РФ; ЗНАЙ НАШИХ (КОНКУРС)  VEB.RF; ZNAY NASHIKH (CONTEST)

In [106]:
df = cats.get_tv_subbrand_list()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 88098
Всего найдено записей: 88098

макс ИД: 731351
Макс длина строки: 255

In [95]:
# Получить список Модел листов - через запятую будут перечислены все Модел листы 
# имеющие отношение к рекламному роику
search_lst = ['778052', '844968', '859222']
df = cats.get_tv_model_list(search_lst)
df = df.rename(columns={'id': 'modelListId', 'name': 'modelListName', 'ename': 'modelListEName'})

df.head()

Запрошены записи: 0 - 3
Всего найдено записей: 3

,modelListId,modelListName,modelListEName
0,778052,МЕГАМАРКЕТ МАРКЕТПЛЕЙС; МЕГАМАРКЕТ МОБИЛЬНОЕ ПРИЛОЖЕНИЕ,MEGAMARKET MARKETPLACE; MEGAMARKET MOBILE APPLICATION
1,844968,МЕГАМАРКЕТ МАРКЕТПЛЕЙС; МЕГАМАРКЕТ МОБИЛЬНОЕ ПРИЛОЖЕНИЕ; СБЕР БАНК СПАСИБО БОНУСНАЯ ПРОГРАММА,MEGAMARKET MARKETPLACE; MEGAMARKET MOBILE APPLICATION; SBER BANK SPASIBO BONUS PROGRAM
2,859222,МЕГАМАРКЕТ МАРКЕТПЛЕЙС; МЕГАМАРКЕТ МОБИЛЬНОЕ ПРИЛОЖЕНИЕ; РЯБА МАЙОНЕЗ,MEGAMARKET MARKETPLACE; MEGAMARKET MOBILE APPLICATION; RYABA MAYONNAISE

In [107]:
df = cats.get_tv_model_list()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 125128
Всего найдено записей: 125128

макс ИД: 909083
Макс длина строки: 255

In [98]:
# Получить список ArticleList2 
# имеющие отношение к рекламному роику
search_lst = ['283', '339', '435']
df = cats.get_tv_article_list2(search_lst)
df = df.rename(columns={'id': 'articleList2Id', 'name': 'articleList2Name', 'ename': 'articleList2EName'})

df.head()

Запрошены записи: 0 - 3
Всего найдено записей: 3

,articleList2Id,articleList2Name,articleList2EName
0,283,СРЕДСТВА МАССОВОЙ ИНФОРМАЦИИ; УСЛУГИ В ОБЛАСТИ ТОРГОВЛИ,MASS MEDIA; TRADE SERVICES
1,339,"СРЕДСТВА МАССОВОЙ ИНФОРМАЦИИ; УСЛУГИ В ОБЛАСТИ ТОРГОВЛИ; ЧАСЫ, ЮВЕЛИРНЫЕ ИЗДЕЛИЯ","MASS MEDIA; TRADE SERVICES; WATCHES & CLOCKS, JEWELRY ARTICLES"
2,435,СРЕДСТВА МАССОВОЙ ИНФОРМАЦИИ; УСЛУГИ В ОБЛАСТИ ТОРГОВЛИ; УСЛУГИ ФИНАНСОВЫЕ,FINANCIAL SERVICES; MASS MEDIA; TRADE SERVICES

In [103]:
df = cats.get_tv_article_list2()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 1329
Всего найдено записей: 1329

макс ИД: 5308
Макс длина строки: 205

In [109]:
# Получить список ArticleList3 
# имеющие отношение к рекламному роику
search_lst = ['14267', '14363', '16311']
df = cats.get_tv_article_list3(search_lst)
df = df.rename(columns={'id': 'articleList3Id', 'name': 'articleList3Name', 'ename': 'articleList3EName'})

df.head()

Запрошены записи: 0 - 3
Всего найдено записей: 3

,articleList3Id,articleList3Name,articleList3EName
0,14267,ИНТЕРНЕТ-ТОРГОВЛЯ; РЕСУРСЫ В ИНТЕРНЕТЕ; ТОРГОВЫЕ ОРГАНИЗАЦИИ,INTERNET TRADING; RESOURCES ON THE INTERNET; TRADE ORGANIZATIONS
1,14363,ИНТЕРНЕТ-ТОРГОВЛЯ; РЕСУРСЫ В ИНТЕРНЕТЕ,INTERNET TRADING; RESOURCES ON THE INTERNET
2,16311,ИНТЕРНЕТ-ТОРГОВЛЯ; РЕСУРСЫ В ИНТЕРНЕТЕ; УСЛУГИ ОБЩЕСТВЕННОГО ПИТАНИЯ,INTERNET TRADING; PUBLIC CATERING SERVICES; RESOURCES ON THE INTERNET

In [110]:
df = cats.get_tv_article_list3()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 3987
Всего найдено записей: 3987

макс ИД: 19213
Макс длина строки: 238

In [112]:
# Получить список ArticleList4 
# имеющие отношение к рекламному роику
search_lst = ['45301', '45308', '45312']
df = cats.get_tv_article_list4(search_lst)
df = df.rename(columns={'id': 'articleList4Id', 'name': 'articleList4Name', 'ename': 'articleList4EName'})

df.head()

Запрошены записи: 0 - 3
Всего найдено записей: 3

,articleList4Id,articleList4Name,articleList4EName
0,45301,МАРКЕТПЛЕЙСЫ; МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ,MARKETPLACES; MOBILE APPLICATIONS
1,45308,КОСВЕННАЯ РЕКЛАМА; МАРКЕТПЛЕЙСЫ; МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ,INDIRECT ADVERTISING; MARKETPLACES; MOBILE APPLICATIONS
2,45312,ГЕЛЬ ДЛЯ ДУША; МАРКЕТПЛЕЙСЫ; МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ,MARKETPLACES; MOBILE APPLICATIONS; SHOWER GEL

In [113]:
df = cats.get_tv_article_list4()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 10777
Всего найдено записей: 10777

макс ИД: 55561
Макс длина строки: 255

In [3]:
# Получить список Названий роликов
# имеющие отношение к рекламному роику
search_lst = ['4573069']
df = cats.get_tv_ad(search_lst)
# df = df.rename(columns={'id': 'adId', 'name': 'adName', 'ename': 'adEName'})

df.head()

Запрошены записи: 0 - 1
Всего найдено записей: 1

,id,adTypeId,name,ename,notes,standardDuration,adStyleId,sloganAudioId,sloganVideoId,firstIssueDate,advertiserListId,brandListId,subbrandListId,modelListId,articleList_2Id,articleList_3Id,articleList_4Id,advertiserListMainId,brandListMainId,subbrandListMainId,modelListMainId,articleList_2MainId,articleList_3MainId,articleList_4MainId,ageRestrictionId,tvArea
0,4573069,1,ЗНАЙ НАШИХ конкурс растущих российских брендов (5 номинаций) (18+ ВНЗ справа),ZNAY NASHIKH contest of growing Russian brands (5 nominations) (18+ BEL to the right),"Название конкурса, правила участия, условия, дата проведения, сайт.",30,0,1,1,2024-01-20,320901,660379,713209,883223,195,446,2798,320901,660379,713209,883223,195,446,2798,5,3

In [118]:
df.head(1)

   id name ename
0   1  N/A   N/A

In [116]:
df = cats.get_tv_ad()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

макс ИД: 55561
Макс длина строки: 255

In [8]:
# Получить список Аудио слоганов ролика
# имеющие отношение к рекламному роику
search_lst = ['1']
df = cats.get_tv_ad_slogan_audio(search_lst)
df = df.rename(columns={'id': 'adSloganAudioId', 'name': 'adSloganAudioName', 'notes': 'adSloganAudioNotes'})

df.head()

Запрошены записи: 0 - 1
Всего найдено записей: 1

   adSloganAudioId adSloganAudioName       adSloganAudioNotes
0                1               N/A  Для реклам без слоганов

In [10]:
df = cats.get_tv_ad_slogan_audio()

print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки Name: {df['name'].str.len().max()}")
print(f"Макс длина строки Notes: {df['notes'].str.len().max()}")

Запрошены записи: 0 - 11491
Всего найдено записей: 11491

макс ИД: 94553
Макс длина строки Name: 75
Макс длина строки Notes: 23

In [129]:
# Получить список Видео слоганов ролика
# имеющие отношение к рекламному роику
search_lst = ['1']
df = cats.get_tv_ad_slogan_video(search_lst)
df = df.rename(columns={'id': 'adSloganVideoId', 'name': 'adSloganVideoName', 'notes': 'adSloganVideoNotes'})

df.head()

Запрошены записи: 0 - 1
Всего найдено записей: 1

   adSloganVideoId adSloganVideoName       adSloganVideoNotes
0                1               N/A  Для реклам без слоганов

In [127]:
df = cats.get_tv_ad_slogan_video()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 10395
Всего найдено записей: 10395

макс ИД: 71365
Макс длина строки: 74

In [3]:
# Получить список Регионов, либо Сетевое вещание
# имеющие отношение к рекламному роику
search_lst = ['1', '2', '99']
df = cats.get_tv_region(search_lst)
df = df.rename(columns={'id': 'regionId', 'name': 'regionName', 'ename': 'regionEName'})

df.head()

Запрошены записи: 0 - 3
Всего найдено записей: 3

   regionId       regionName           regionEName
0         1           МОСКВА                Moscow
1         2  САНКТ-ПЕТЕРБУРГ      Saint-Petersburg
2        99  СЕТЕВОЕ ВЕЩАНИЕ  Network broadcasting

In [5]:
df = cats.get_tv_region()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 28
Всего найдено записей: 28

макс ИД: 99
Макс длина строки: 15

In [6]:
df

    id             name                 ename
0    1           МОСКВА                Moscow
1    2  САНКТ-ПЕТЕРБУРГ      Saint-Petersburg
2    3            ТВЕРЬ                  Tver
3    4  НИЖНИЙ НОВГОРОД      Nizhniy Novgorod
4    5        ВОЛГОГРАД             Volgograd
5    6           САМАРА                Samara
6    7        ЯРОСЛАВЛЬ             Yaroslavl
7    8          ВОРОНЕЖ              Voronezh
8    9   РОСТОВ-НА-ДОНУ         Rostov-On-Don
9   10          САРАТОВ               Saratov
10  12     ЕКАТЕРИНБУРГ          Ekaterinburg
11  13        ЧЕЛЯБИНСК           Chelyabinsk
12  14            ПЕРМЬ                  Perm
13  15      НОВОСИБИРСК           Novosibirsk
14  16           ТЮМЕНЬ                Tyumen
15  17       КРАСНОЯРСК           Krasnoyarsk
16  18      ВЛАДИВОСТОК           Vladivostok
17  19           КАЗАНЬ                 Kazan
18  20              УФА                   Ufa
19  21             ОМСК                  Omsk
20  23        КРАСНОДАР             Krasnodar
21  25          ИРКУТСК               Irkutsk
22  26        ХАБАРОВСК            Khabarovsk
23  39       СТАВРОПОЛЬ             Stavropol
24  40          БАРНАУЛ               Barnaul
25  45         КЕМЕРОВО              Kemerovo
26  55            ТОМСК                 Tomsk
27  99  СЕТЕВОЕ ВЕЩАНИЕ  Network broadcasting

In [133]:
# Тип вещания
df = cats.get_tv_breaks_distribution()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 4
Всего найдено записей: 4

макс ИД: U
Макс длина строки: 11

In [134]:
df

  id         name    ename
0  L    Локальный    Local
1  N      Сетевой  Network
2  O  Орбитальный  Orbital
3  U          N/A      N/A

In [135]:
# Название сети вещания
df = cats.get_tv_net()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 44
Всего найдено записей: 44

макс ИД: 573
Макс длина строки: 33

In [136]:
df.head()

   id          name        ename
0   1  ПЕРВЫЙ КАНАЛ  PERVY KANAL
1   2      РОССИЯ 1    ROSSIYA 1
2   4           НТВ          NTV
3  10           МИР          MIR
4  11           СТС          STS

In [139]:
# Получить список Названий телеканалов
# имеющие отношение к рекламному роику
search_lst = ['2716', '1377', '1384']
df = cats.get_tv_company(search_lst)
df = df.rename(columns={'id': 'tvCompanyId', 'name': 'tvCompanyName', 'ename': 'tvCompanyEName'})

df.head()

Запрошены записи: 0 - 3
Всего найдено записей: 3

,tvCompanyId,tvCompanyName,tvCompanyEName,tvNetId,regionId,tvCompanyHoldingId,tvCompanyMediaHoldingId,tvThematicId,tvCompanyGroupId,tvCompanyCategoryId,tvCompanyMediaType,information
0,1377,ТНТ 4 (МОСКВА),TNT 4 (MOSCOW),329,1,1000017,8,8,0,0,T,
1,1384,ТНТ 4 / ДОП (МОСКВА),TNT 4 / EXT (MOSCOW),329,1,1000017,8,8,0,0,T,
2,2716,2X2 (СЕТЕВОЕ ВЕЩАНИЕ),2X2 (NETWORK BROADCASTING),286,99,1000017,8,8,0,0,T,

In [11]:
df = cats.get_tv_company()
print(f"макс tvCompanyId ИД: {df['id'].max()}")
print(f"макс tvCompanyHoldingId ИД: {df['tvCompanyHoldingId'].max()}")
print(f"макс tvNetId ИД: {df['tvNetId'].max()}")
print(f"макс regionId ИД: {df['regionId'].max()}")
print(f"макс tvCompanyMediaHoldingId ИД: {df['tvCompanyMediaHoldingId'].max()}")
print(f"макс tvThematicId ИД: {df['tvThematicId'].max()}")
print(f"макс tvCompanyGroupId ИД: {df['tvCompanyGroupId'].max()}")
print(f"макс tvCompanyCategoryId ИД: {df['tvCompanyCategoryId'].max()}")
print()
print(f"Макс длина строки Name: {df['name'].str.len().max()}")
print(f"Макс длина строки tvCompanyMediaType: {df['tvCompanyMediaType'].str.len().max()}")
print(f"Макс длина строки information: {df['information'].str.len().max()}")

Запрошены записи: 0 - 2418
Всего найдено записей: 2418

макс tvCompanyId ИД: 30000
макс tvCompanyHoldingId ИД: 1000046
макс tvNetId ИД: 573
макс regionId ИД: 99
макс tvCompanyMediaHoldingId ИД: 30
макс tvThematicId ИД: 19
макс tvCompanyGroupId ИД: 2
макс tvCompanyCategoryId ИД: 3

Макс длина строки Name: 61
Макс длина строки tvCompanyMediaType: 1
Макс длина строки information: 21

In [142]:
# Получить список типов ролика - Ролик, Спонсор, Телемагазин и тд.
# имеющие отношение к рекламному роику
search_lst = ['1', '5', '10']
df = cats.get_tv_ad_type(search_lst)
df = df.rename(columns={'id': 'adTypeId', 'name': 'adTypeName', 'ename': 'adTypeEName'})

df.head()

Запрошены записи: 0 - 3
Всего найдено записей: 3

,adTypeId,adTypeName,adTypeEName,notes,accountingDurationType,isOverride,isPrice,positionType
0,1,Ролик,Spot,"Основной вид рекламы, имеет фиксированную длительность",A,N,Y,A
1,5,Спонсор,Sponsor,Представление или указание спонсора. Отмечается один раз в передаче,C,Y,N,B
2,10,Телемагазин,TV shop,Сюжеты телемагазинов типа TV-Shop,B,N,N,C

In [4]:
df = cats.get_tv_ad_type()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки Name: {df['name'].str.len().max()}")
print(f"Макс длина строки Notes: {df['notes'].str.len().max()}")

Запрошены записи: 0 - 24
Всего найдено записей: 24

макс ИД: 138
Макс длина строки Name: 49
Макс длина строки Notes: 100

In [143]:
# Позиция выхода ролика
df = cats.get_tv_ad_position()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 6
Всего найдено записей: 6

макс ИД: 5
Макс длина строки: 13

In [144]:
df

   id           name         ename
0   0      Вне блока  Out of block
1   1         Первый         First
2   2         Второй        Second
3   3        Средний        Middle
4   4  Предпоследний   Penultimate
5   5      Последний          Last

In [145]:
# Выход в прайм-тайм
df = cats.get_tv_prime_time_status()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 3
Всего найдено записей: 3

макс ИД: 2
Макс длина строки: 14

In [146]:
df

   id            name       ename
0   0             N/A         N/A
1   1      Прайм-тайм  Prime-time
2   2  Вне прайм-тайм   Off-prime

In [4]:
df = cats.get_tv_breaks_position()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 2
Всего найдено записей: 2

макс ИД: I
Макс длина строки: 10

In [5]:
df

  id        name     ename
0  E    Внешний   External
1  I  Внутренний  Internal

In [6]:
df = cats.get_tv_ad_position()
print(f"макс ИД: {df['id'].max()}")
print(f"Макс длина строки: {df['name'].str.len().max()}")

Запрошены записи: 0 - 6
Всего найдено записей: 6

макс ИД: 5
Макс длина строки: 13

In [7]:
df

   id           name         ename
0   0      Вне блока  Out of block
1   1         Первый         First
2   2         Второй        Second
3   3        Средний        Middle
4   4  Предпоследний   Penultimate
5   5      Последний          Last

In [42]:
search_filter

311419, 393963, 461753, 463018, 586043, 651039, 689003, 719137

In [ ]:
df_result =  test2
df_result

In [ ]:
import os
path = r'C:\Users\powerbi\Downloads'

date = datetime.datetime.now().strftime('%d_%m_%Y_%H_%M_%S')

file_name = f'search_result_for_{date}.xlsx'

df_result.to_excel(os.path.join(path, file_name))

print(f'Файл {file_name} успешно сохранен')

In [21]:
path = r'C:\Users\powerbi\Desktop\PBI_Рабочие_файлы\20_img_machine_learning_files'
file_name = 'creatives_table_yandex.xlsx'

df_creatives = pd.read_excel(os.path.join(path, file_name))

In [22]:
df_creatives.head(2)

,Unnamed: 0,first_level_folder,second_level_folder,name,download_link,type,only_name,ad_id
0,0,МАРК всякие разные ролики,NaN,ИНТЕРНЕТ РЕШЕНИЯ_OZON_21092023_4511893.avi,https://downloader.disk.yandex.ru/disk/46832c954354752f6b3e8f6684304e64934547d3cbabc5637931bc46f908d592/65e845c0/ZDBSPHnhfjndn_xQkxWyAjMWe2Vf2J8T6LO89p5BgP5YrF1zKqATWiHJhn_GWOrniKW8la5zixdh0snJrUX5jw%3D%3D?uid=0&filename=%D0%98%D0%9D%D0%A2%D0%95%D0%A0%D0%9D%D0%95%D0%A2%20%D0%A0%D0%95%D0%A8%D0%95%D0%9D%D0%98%D0%AF_OZON_21092023_4511893.avi&disposition=attachment&hash=&limit=0&content_type=video%2Fx-msvideo&owner_uid=0&fsize=943068&hid=86eac0447bf9d7fd5329989bef06a4d6&media_type=video&tknv=v2&etag=c4ae26e0db6807ab62e0b987cd47b232,video/x-msvideo,ИНТЕРНЕТ РЕШЕНИЯ_OZON_21092023_4511893,4511893
1,1,МАРК всякие разные ролики,NaN,ИНТЕРНЕТ РЕШЕНИЯ_OZON_19102023_4528825.avi,https://downloader.disk.yandex.ru/disk/030c97da14956f27336bd4ae2eb07e21b935a10942842d49dcf1ff78660aefbf/65e845c0/fKqInKw3d7bLFOeFnMGnhAzLt02nlI3Kg3x5at81Us3hCefcK2b7EIpJ3-C83D_Xgey-rUHasXHhVcTzy0vuZtb94Gskwoo305rwZON7I_ur8npumZHI4midPdWhecNq?uid=0&filename=%D0%98%D0%9D%D0%A2%D0%95%D0%A0%D0%9D%D0%95%D0%A2%20%D0%A0%D0%95%D0%A8%D0%95%D0%9D%D0%98%D0%AF_OZON_19102023_4528825.avi&disposition=attachment&hash=&limit=0&content_type=video%2Fx-msvideo&owner_uid=0&fsize=960214&hid=d70d588e8687baf454d31719758fd3cb&media_type=video&tknv=v2&etag=007bc05a27f0c7d8280083dafdd7ac35,video/x-msvideo,ИНТЕРНЕТ РЕШЕНИЯ_OZON_19102023_4528825,4528825

In [23]:
len(df_creatives)

257

In [24]:
test = test[['id', 'name', 'firstIssueDate']]

KeyError: "['name'] not in index"

In [25]:
test = test.rename(columns={'brand': 'creative_name'})

In [26]:
test.head()

     id                      creative_name firstIssueDate
0   349         БАЛТИКА пивоваренный завод     1995-08-30
1   440                           PEDIGREE     1995-08-05
2   524  ЕВРОПА ПЛЮС 106,2 FM радиостанция     1995-06-02
3  2020                        SONY  фирма     1995-06-01
4  2179             АВТОРАДИО радиостанция     1995-06-04

In [27]:
df_creatives = df_creatives.merge(test, how='left', left_on=['ad_id'], right_on=['id'])

In [28]:
len(df_creatives)

257

In [29]:
df_creatives.head(2)

,Unnamed: 0,first_level_folder,second_level_folder,name,download_link,type,only_name,ad_id,id,creative_name,firstIssueDate
0,0,МАРК всякие разные ролики,NaN,ИНТЕРНЕТ РЕШЕНИЯ_OZON_21092023_4511893.avi,https://downloader.disk.yandex.ru/disk/46832c954354752f6b3e8f6684304e64934547d3cbabc5637931bc46f908d592/65e845c0/ZDBSPHnhfjndn_xQkxWyAjMWe2Vf2J8T6LO89p5BgP5YrF1zKqATWiHJhn_GWOrniKW8la5zixdh0snJrUX5jw%3D%3D?uid=0&filename=%D0%98%D0%9D%D0%A2%D0%95%D0%A0%D0%9D%D0%95%D0%A2%20%D0%A0%D0%95%D0%A8%D0%95%D0%9D%D0%98%D0%AF_OZON_21092023_4511893.avi&disposition=attachment&hash=&limit=0&content_type=video%2Fx-msvideo&owner_uid=0&fsize=943068&hid=86eac0447bf9d7fd5329989bef06a4d6&media_type=video&tknv=v2&etag=c4ae26e0db6807ab62e0b987cd47b232,video/x-msvideo,ИНТЕРНЕТ РЕШЕНИЯ_OZON_21092023_4511893,4511893,4511893.0,OZON FRESH маркетплейс (Яблоки сезонные 79 руб.),2023-09-21
1,1,МАРК всякие разные ролики,NaN,ИНТЕРНЕТ РЕШЕНИЯ_OZON_19102023_4528825.avi,https://downloader.disk.yandex.ru/disk/030c97da14956f27336bd4ae2eb07e21b935a10942842d49dcf1ff78660aefbf/65e845c0/fKqInKw3d7bLFOeFnMGnhAzLt02nlI3Kg3x5at81Us3hCefcK2b7EIpJ3-C83D_Xgey-rUHasXHhVcTzy0vuZtb94Gskwoo305rwZON7I_ur8npumZHI4midPdWhecNq?uid=0&filename=%D0%98%D0%9D%D0%A2%D0%95%D0%A0%D0%9D%D0%95%D0%A2%20%D0%A0%D0%95%D0%A8%D0%95%D0%9D%D0%98%D0%AF_OZON_19102023_4528825.avi&disposition=attachment&hash=&limit=0&content_type=video%2Fx-msvideo&owner_uid=0&fsize=960214&hid=d70d588e8687baf454d31719758fd3cb&media_type=video&tknv=v2&etag=007bc05a27f0c7d8280083dafdd7ac35,video/x-msvideo,ИНТЕРНЕТ РЕШЕНИЯ_OZON_19102023_4528825,4528825,4528825.0,OZON FRESH маркетплейс (БЫЧЬЕ СЕРДЦЕ помидоры 279 р.) тит серые,2023-10-19

In [31]:
file_name = 'creatives_table_media.xlsx'

df_creatives.to_excel(os.path.join(path, file_name))